extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each product in products
      li
        - let title = product.productTitle.split(' ').join('-');
        - let brand = product.productBrand.split(' ').join('-');
        - let link = `http://www.selfridges.com/HK/en/cat/${title}-${brand}_${product.wcid}`;
        a(target ="_blank" href=link) #{product.productTitle} &nbsp;&nbsp;| 
        a(href="/delete/"+ product.productId) 删除